<main>
    <form method="post" action="http://<?php print $_SERVER['SERVER_NAME'].$_SERVER['REQUEST_URI']; ?>">
        <div id="visible">
            <table>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Цена</th>
                    <th>Дата</th>
                    <th>Ссылка</th>
                    <th>Пропуск</th>
                </tr>
                <?php print $template; ?>
            </table>
        </div>
        <button name="action" value="save">Сохранить</button>
    </form>
</main>