<div id="eventWall">
    <div class="event">
        <header>
            <p>Название новости</p>
        </header>
        <article>
                Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled
                it to make a type specimen book. It has survived not only five
                centuries.
                <a>Подробнее..</a>
        </article>
    </div>
    <div class="event">

    </div>
    <div class="event">

    </div>
    <div class="event">

    </div>
    <div class="event">

    </div>
    <div class="event">

    </div>
</div>
<div id="pages">
<a>Назад</a><a>1</a><a>2</a><a>3</a><a>4</a><a>Дальше</a>
</div>