main{
    width: 800px;
    height: 540px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-top: 40px;
}

#visible{
    width: 820px;
    height: 500px;
    overflow-y: auto;
}

main table{
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
    text-align: center;
}

main table th{
    padding: 4px 10px;
    border-bottom: 1px solid black;
}

main table td{
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

td p{
    display: block;
    height: 50px;
    overflow-y: auto;
}

td input{
    margin-left: 28px;
    width: 30px;
    height: 30px;
    outline: none;
}

main button{
    margin-top: 10px;
    margin-left: 350px;
    font-size: 18px;
    background-color: white;
    border: 1px solid gray;
    padding: 2px 12px;
    border-radius: 3px;
    outline: none;
}

main button:hover{
    background-color: rgba(194, 0, 255, 0.26);
    color: white;
    border: 1px solid white;
}

main button:active{
    background-color: rgba(194, 0, 255, 0.64);
    color: white;
    border: 1px solid white;
}