#main{
    width: 1055px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}
#eventWall{
    width: 1074px;
    height: 520px;
    overflow-y: auto;
}

.event{
    width: 300px;
    height: 210px;
    margin-left: 40px;
    margin-top: 35px;
    float: left;
}

.event header{
    width: 100%;
    height: 207px;
    text-align: center;
    font-size: 28px;
    vertical-align: middle;
    transition: all 1s ease-out 0.5s;
    padding-top: 80px;
    background-color: #3b3b3b;
    color: white;
    border-bottom: 1px solid #dcdcdc;
    cursor: pointer;
}

.event article{
    width: 100%;
    height: 0px;
    transition: all 1s ease-out 0.5s;
    overflow: hidden;
    background-color: #4e4d55;
    color: white;
}

.event article a{
    color:red;
    cursor: pointer;
}

.event article p{
    font-size: 18px;
    text-align: right;
}

.event:hover header{
    height: 30px;
    font-size: 13px;
    padding-top: 5px;
}

.event:hover article{
    height: 176px;
    padding: 4px 6px;
}

#pages{
    width: 280px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}

#pages a{
    background: #FFF;
    color: #000;
    border: 1px solid #CCC;
    padding: 2px 6px;
    text-decoration: none;
    margin-top: 2px;
    margin-left: 10px;
    cursor: pointer;
}

#pages a:hover{
    background: rgba(198, 141, 231, 0.2);
}