*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    text-decoration: none;
}


header{
    width: 1355px;
    height: 70px;
}

#logo{
    height: 100%;
    width: 176px;
    float: left;
}

#logo a{
    width: 115px;
    margin-left: 30px;
    margin-top: 10px;
    display: block;
}

#doc,#stud{
    font-size: 40px;
    font-weight: 600;
}

#doc{
    color: white;
    text-shadow: 1px 1px 5px #c200ff, -1px -1px 5px #c200ff;
}

#stud{
    color: #c200ff;
    text-shadow: 1px 1px 5px black, -1px -1px 5px black;
}

#filter{
    height: 100%;
    width: 880px;
    float: left;
}

#filter div{
    float: left;
    margin-top: 20px;
    font-size: 20px;
    margin-left: 270px;
}

#filter select{
    margin-top: 22px;
    margin-left: 20px;
    height: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
}

#filter button{
    background-color: white;
    border: 1px solid gray;
    padding: 3px 9px;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
    outline: none;
}

#filter button:hover{
    background-color: rgba(194, 0, 255, 0.26);
    color: white;
    border: 1px solid white;
}

#filter button:active{
    background-color: rgba(194, 0, 255, 0.64);
    color: white;
    border: 1px solid white;
}

#createEvent{
    height: 100%;
    width: 298px;
    float: left;
}

#createEvent a {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 16px;
    height: 100%;
}

#createEvent a span{
    display: block;
    font-size: 25px;
    color: black;
}

#createEvent a span:hover{
    color: #a3a3a3;
}

#createEvent a span:active{
    color: #6f6f6f;
}